<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
<plugin id="com.kingdee.bos.bim" name="BOS BIM" version="4.0.0" provider-name="Kingdee.com" class="com.kingdee.bos.bim.BIMPlugin">
	<runtime>
		<library name="bim.jar"/>
	</runtime>
-->
<plugin>
<!--
	<requires>
		<import plugin="com.kingdee.bos.common"/>
		<import plugin="com.kingdee.bos.metadata"/>
		<import plugin="com.kingdee.bos.studio"/>
		<import plugin="org.eclipse.core.resources"/>
		<import plugin="org.eclipse.ui"/>
		<import plugin="org.eclipse.gef"/>
		<import plugin="org.apache.ant"/>
		<import plugin="org.eclipse.ant.core"/>
	</requires>
	-->
	<extension point="org.eclipse.ui.perspectives">
		<perspective name="%yeWuGuanLiPingTai" icon="icons/view/bimBrowser.gif" class="com.kingdee.bos.bim.perspective.BIMPerspective" id="com.kingdee.bos.bim.perspective.BIMPerspective"/>
	</extension>
	<extension point="org.eclipse.ui.editors">

	<editor name="BIM Editor" 
			default="true" 
			icon="icons/designer/bimEditor.gif" 
			extensions="bizunit,biztemplate" 
			contributorClass="com.kingdee.bos.bim.designer.actions.BIMActionBarContributor" 
			class="com.kingdee.bos.bim.designer.BIMMultiPageEditor" 
			id="com.kingdee.bos.bim.designer.BIMMultiPageEditor"/>
  	
		<!--
		<editor name="BIM Editor" default="true" icon="icons/designer/bimEditor.gif" extensions="bizunit,biztemplate" contributorClass="com.kingdee.bos.bim.designer.actions.BIMActionBarContributor" class="com.kingdee.bos.bim.designer.BIMEditor" id="com.kingdee.bos.bim.designer.BIMEditor"/>
		-->
  <editor
        class="com.kingdee.bos.studio.multipageeditor.query.QueryEditor"
        icon="icons/view/data_source.gif"
        default="true"
        contributorClass="com.kingdee.bos.tool.multipageeditor.ToolEditorContributor"
        name="%shuJuYuanBianJiQi"
        id="com.kingdee.bos.bim.report.designer.DataSourceDesigner"
        extensions="query"/>
  <editor
        class="com.kingdee.bos.bim.designer.report.ReportEditor"
        icon="icons/view/report.gif"
        default="false"
        contributorClass="com.kingdee.bos.bim.editor.BIMFormEditorContributor"
        name="%baoBiaoBianJiQi"
        id="om.kingdee.bos.bim.report.designer.ReportDesigner"
        extensions="report"/>
  <editor
        class="com.kingdee.bos.bim.designer.mdquery.MDQueryEditor"
        contributorClass="com.kingdee.bos.bim.editor.BIMFormEditorContributor"
        default="false"
        extensions="mdquery"
        icon="icons/designer/mdquery.gif"
        id="com.kingdee.bos.bim.report.designer.mdqueryeditor"
        name="%fenxibaobiaobianjiqi"/>
	</extension>
	<extension point="org.eclipse.ui.views">
		<category name="%yeWuGuanLiPingTai" id="com.kingdee.bos.bim"/>
		<view name="%yeWuDanYuanGuanLi" icon="icons/view/treeView.gif" category="com.kingdee.bos.bim" class="com.kingdee.bos.bim.views.BIMExplorerPart" id="com.kingdee.bos.bim.views.BIMExplorerPart"/>
 <!--
  <view
        category="com.kingdee.bos.bim"
        class="com.kingdee.bos.bim.views.BIMSuperExplorerPart"
        icon="icons/publish.gif"
        id="com.kingdee.bos.bim.views.BIMSuperExplorerPart"
        name="BIM高级发布视图"/>
        -->
  <view
        category="com.kingdee.bos.bim"
        class="com.kingdee.bos.bim.views.TableRestrictCheckResultViewPart"
        id="com.kingdee.bos.bim.views.TableRestrictCheckResultViewPart"
        name="数据库约束"/>
  <view
        category="com.kingdee.bos.bim"
        class="com.kingdee.bos.bim.views.CloudBrowserView"
        icon="icons/view/bos_com.gif"
        id="com.kingdee.bos.bim.views.cloudBrowserView"
        name="CBOS在线协同开发平台"/>
  <view
        allowMultiple="true"
        category="com.kingdee.bos.bim"
        class="com.kingdee.bos.bim.views.MetadataRestrictCheckResultViewPart"
        id="com.kingdee.bos.bim.views.MetadataRestrictCheckResultViewPart"
        name="元数据约束"/>
  <view
        allowMultiple="true"
        category="com.kingdee.bos.bim"
        class="com.kingdee.bos.bim.views.MetadataUpgradeResultViewPart"
        id="com.kingdee.bos.bim.views.MetadataUpgradeResultViewPart"
        name="升级结果"/>
<!--		
  <view
        class="com.kingdee.bos.bim.views.IssueView"
        icon="icons/view/issueView.gif"
        category="com.kingdee.bos.bim"
        name="%buShuShiTu"
        id="com.kingdee.bos.bim.views.IssueView"/>
  <view
        class="com.kingdee.bos.bim.views.BriefView"
        icon="icons/sample.gif"
        category="com.kingdee.bos.bim"
        name="%yeWuDaGang"
        id="com.kingdee.bos.bim.views.BriefView"/>
        -->
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<category name="BIM" id="com.kingdee.bos.bim.wizard"/>
		<wizard name="Group" icon="icons/view/folder.gif" category="com.kingdee.bos.bim.wizard" class="com.kingdee.bos.bim.wizard.group.NewGroupCreationWizard" project="true" id="com.kingdee.bos.bim.wizard.NewGroupCreationWizard"/>
  <!--
  <wizard
        icon="icons/view/project.gif"
        class="com.kingdee.bos.bim.wizard.project.CreateBimProjectWizard"
        category="com.kingdee.bos.bim.wizard"
        project="true"
        name="%BIMJieJueFangAn"
        id="com.kingdee.bos.bim.wizard.createBimProjectWizard"/>
    -->
  <wizard
        category="com.kingdee.bos.bim.wizard"
        class="com.kingdee.bos.bim.wizard.mdupgrade.MetadataUpgradeWizard"
        icon="icons/action/modify.gif"
        id="com.kingdee.bos.bim.wizard.mdupdate.MetadataUpdateWizard"
        name="元数据升级"
        project="false"/>
	</extension>
	<extension point="org.eclipse.ui.editorActions">
		<editorContribution targetID="com.kingdee.bos.bim.designer.BIMMultiPageEditor" id="com.kingdee.bos.bim.editor.action">
   <menu
         id="bizunit"
         label="%yeWuDanYuanAMPB"
         path="edit">
      <separator
            name="group1">
      </separator>
      <separator
            name="group2">
      </separator>
      <separator
            name="group3">
      </separator>
      <separator
            name="group4">
      </separator>
      <separator
            name="group5">
      </separator>
      <separator
            name="group6">
      </separator>
      <separator
            name="group7">
      </separator>
      <separator
            name="group8">
      </separator>
   </menu>
   <action
         class="com.kingdee.bos.bim.designer.actions.delegate.CopyCreateFieldActionDelegate"
         id="com.kingdee.bos.bim.actions.copyBizField"
         label="复制字段(&amp;C)"
         menubarPath="bizunit/group1"
         style="push">
   </action>
   <action
         class="com.kingdee.bos.bim.designer.actions.delegate.DeleteBizFieldActionDelegate"
         id="com.kingdee.bos.bim.actions.deleteFiled"
         label="删除字段(&amp;D)"
         menubarPath="bizunit/group1"
         style="push">
   </action>
   <action
         class="com.kingdee.bos.bim.designer.actions.delegate.EditBizFieldActionDelegate"
         icon="icons/action/editField.gif"
         id="com.kingdee.bos.bim.actions.modifyField"
         label="修改字段(&amp;M)"
         menubarPath="bizunit/group1"
         style="push">
   </action>
   <action
         class="com.kingdee.bos.bim.designer.actions.delegate.AddBizFieldActionDelegate"
         icon="icons/action/addField.gif"
         id="com.kingdee.bos.bim.action.add_field"
         label="新增字段(&amp;N)"
         menubarPath="bizunit/group1"/>
   <action
         class="com.kingdee.bos.bim.designer.actions.delegate.SetBiz2TemplateActionDelegate"
         id="com.kingdee.bos.bim.actions.setTemplateField"
         label="设置模板字段(&amp;T)"
         menubarPath="bizunit/group2"
         style="push">
   </action>
   <action
         class="com.kingdee.bos.bim.designer.actions.delegate.BizFieldManageActionDelegate"
         icon="icons/daction/modify.gif"
         id="com.kingdee.bos.bim.action.field_man"
         label="字段管理(&amp;F)"
         menubarPath="bizunit/group4"
         style="push"/>
   <action
         class="com.kingdee.bos.bim.designer.actions.delegate.BizUnitInfoMaintainActionDelegate"
         icon="icons/add.gif"
         id="com.kingdee.bos.bim.action.voucherinfo"
         label="单据信息(&amp;B)"
         menubarPath="bizunit/group4"
         style="push"/>
 <action
       class="com.kingdee.bos.bim.designer.actions.delegate.MenuMaintainActionDelegate"
       icon="icons/view/menu.gif"
       id="com.kingdee.bos.bim.action.menu_maintain"
       label="菜单定义(&amp;M)"
       menubarPath="bizunit/group5"
       style="push">
 </action>         
			<action label="枚举定义(&amp;E)" icon="icons/editor/keyArray.gif" tooltip="%meiJu" class="com.kingdee.bos.bim.designer.actions.delegate.EnumActionDelegate" menubarPath="bizunit/group5" id="com.kingdee.bos.bim.actions.enum"/>
			<action label="功能定义(&amp;U)" icon="icons/editor/keyFunc.gif" tooltip="%gongNeng" class="com.kingdee.bos.bim.designer.actions.delegate.FunctionActionDelegate" menubarPath="bizunit/group5" id="com.kingdee.bos.bim.action.function"/>
   <action
         class="com.kingdee.bos.bim.designer.actions.delegate.StatusManageActionDelegate"
         icon="icons/editor/fkItem.gif"
         id="com.kingdee.bos.bim.action.status_manage"
         label="状态定义(&amp;S)"
         menubarPath="bizunit/group5"
         style="push"/>
   <action
         class="com.kingdee.bos.bim.designer.actions.delegate.SetTableStructActionDelegate"
         id="com.kingdee.bos.bim.actions.setTableStruct"
         label="生成表格编辑界面(&amp;A)"
         menubarPath="bizunit/group6"
         style="push">
   </action>
   <action
         class="com.kingdee.bos.bim.designer.actions.delegate.SetGlobalShareActionDelegate"
         id="com.kingdee.bos.bim.actions.setGlobalShare"
         label="设置共享策略(&amp;A)"
         menubarPath="bizunit/group6"
         style="push">
   </action>
   <action
         class="com.kingdee.bos.bim.designer.actions.delegate.SetAcctItemBizUnitActionDelegate"
         id="com.kingdee.bos.bim.actions.setAcctItem"
         label="设置核算项目(&amp;O)"
         menubarPath="bizunit/group7"
         style="push">
   </action>
   <action
         class="com.kingdee.bos.bim.designer.actions.delegate.SetSalaryItemActionDelegate"
         id="com.kingdee.bos.bim.actions.setSalaryItem"
         label="设置薪酬项目(&amp;K)"
         menubarPath="bizunit/group7"
         style="push">
   </action>
   <action
         class="com.kingdee.bos.bim.designer.actions.delegate.ConfigureBizUnitActionDelegate"
         id="com.kingdee.bos.bim.actions.configureBizUnit"
         label="配置业务单元"
         menubarPath="bizunit/group8"
         style="push">
   </action>
   <action
         class="com.kingdee.bos.bim.designer.actions.delegate.SetAttachBizUnitActionDelegate"
         icon="icons/action/setAcct.gif"
         id="com.kingdee.bos.bim.SetAttachBizunti"
         label="设置附属业务单元"
         menubarPath="bizunit/group8"
         style="push"/>
		</editorContribution>
	</extension>
	<!-- added by zhangyong -->
	<extension point="org.eclipse.ui.actionSets">
    <actionSet
          id="com.kingdee.tool.actionset2"
          label="ToolActions"
          visible="true">
       <action
             class="com.kingdee.bos.bim.actions.solution.ImportProjectActionDelegate"
             icon="icons/action/import_solution.gif"
             id="com.kingdee.bos.bim.actions.importSolution"
             label="导入解决方案(&amp;I)"
             menubarPath="bos.menu.solution/slot1"
             retarget="false"
             style="push">
       </action>
       <action
             class="com.kingdee.bos.bim.actions.solution.OpenSolutionActionDelegate"
             icon="icons/open_solution.gif"
             id="com.kingdee.bos.bim.actions.openSolution"
             label="打开解决方案(&amp;O)"
             menubarPath="bos.menu.solution/slot1"
             retarget="false"
             style="push">
       </action>
       <menu
             id="com.kingdee.bos.menu.tools"
             label="工具(&amp;T)"
             path="edit">
          <separator
                name="update">
          </separator>
       </menu>
       <menu
             id="bos.menu.solution"
             label="方案(&amp;S)"
             path="file">
          <separator
                name="slot1">
          </separator>
       </menu>
    </actionSet>
    <actionSet
          description="BIM Actions"
          id="com.kingdee.bos.bim.BIMActions"
          label="BIM Actions"
          visible="false">
       <menu
             id="new"
             label="新建(&amp;N)"
             path="file/new">
          <separator
                name="slot1">
          </separator>
          <separator
                name="slot2">
          </separator>
       </menu>
       <menu
             id="file"
             label="文件(&amp;F)"
             path="file">
          <separator
                name="slot1">
          </separator>
          <separator
                name="slot2">
          </separator>
       </menu>
       <action
             id="com.kingdee.bos.bim.actions.openBizUnit"
             label="%daKaiAMPE"
             menubarPath="file/fileStart"
             retarget="true"
             style="push">
       </action>
       <action
             icon="icons/designer/bizunit_tpl.gif"
             id="com.kingdee.bos.bim.actions.addBizTemplate"
             label="业务模板(&amp;T)..."
             menubarPath="file/new/slot2"
             retarget="true"
             style="push">
       </action>
       <action
             icon="icons/view/folder.gif"
             id="com.kingdee.bos.bim.actions.addGroup"
             label="业务组别(&amp;P)..."
             menubarPath="file/new/slot1"
             retarget="true"
             style="push"
             toolbarPath="org.eclipse.ui.workbench.file/new.group">
       </action>
       <action
             icon="icons/designer/bizunit.gif"
             id="com.kingdee.bos.bim.actions.addBizUnit"
             label="业务单元(&amp;B)..."
             menubarPath="file/new/slot1"
             retarget="true"
             style="push"
             toolbarPath="org.eclipse.ui.workbench.file/new.group">
       </action>
       <menu
             id="bos.menu.solution"
             label="方案(&amp;S)"
             path="file">
          <separator
                name="slot1">
          </separator>
          <separator
                name="industry">
          </separator>
          <separator
                name="slot2">
          </separator>
          <separator
                name="slot3">
          </separator>
          <separator
                name="slot4">
          </separator>
          <separator
                name="slot5">
          </separator>
       </menu>
       <action
             icon="icons/open_solution.gif"
             id="com.kingdee.bos.bim.actions.setToExtendSolution"
             label="转换为行业解决方案(&amp;C)"
             menubarPath="bos.menu.solution/industry"
             retarget="true"
             style="push">
       </action>
       <action
             icon="icons/action/update_solution.gif"
             id="com.kingdee.bos.bim.actions.updateSolution"
             label="更新解决方案(&amp;S)"
             menubarPath="bos.menu.solution/slot1"
             retarget="true"
             style="push">
       </action>
       <action
             icon="icons/view/solution.gif"
             id="com.kingdee.bos.bim.actions.solutionSetting"
             label="设置解决方案(&amp;S)"
             menubarPath="bos.menu.solution/slot1"
             retarget="true"
             style="push"
             toolbarPath="org.eclipse.ui.workbench.file/build.group">
       </action>
       <action
             icon="icons/action/delete.gif"
             id="com.kingdee.bos.bim.actions.deleteSolution"
             label="删除解决方案(&amp;D)"
             menubarPath="bos.menu.solution/slot1"
             retarget="true"
             style="push">
       </action> <action
             icon="icons/action/log.gif"
             id="com.kingdee.bos.bim.actions.logManagement"
             label="日志管理(&amp;L)"
             menubarPath="bos.menu.solution/slot2"
             retarget="true"
             style="push">
       </action>
       <action
             icon="icons/action/permission.gif"
             id="com.kingdee.bos.bim.actions.permissionManagement"
             label="权限管理(&amp;P)"
             menubarPath="bos.menu.solution/slot2"
             retarget="true"
             style="push">
       </action>
       <action
             icon="icons/view/menu.gif"
             id="com.kingdee.bos.bim.actions.mainMenuManagement"
             label="主菜单管理(&amp;M)"
             menubarPath="bos.menu.solution/slot2"
             retarget="true"
             style="push"
             toolbarPath="org.eclipse.ui.workbench.file/build.group">
       </action>
       <action
             icon="icons/view/enum.gif"
             id="com.kingdee.bos.bim.actions.mergeMetadata"
             label="解压元数据(&amp;Z)"
             menubarPath="bos.menu.solution/slot3"
             retarget="true"
             style="push">
       </action>
       <action
             id="com.kingdee.bos.bim.actions.checkMDTableRestrict"
             label="检查数据表(&amp;T)"
             menubarPath="bos.menu.solution/slot3"
             retarget="true"
             style="push">
       </action>
       <action
             icon="icons/action/validate_meta.gif"
             id="com.kingdee.bos.bim.actions.checkRestrict"
             label="检查元数据(&amp;C)"
             menubarPath="bos.menu.solution/slot3"
             retarget="true"
             style="push">
       </action>
    <action
             icon="icons/startServer.gif"
             id="com.kingdee.bos.bim.actions.startTestServer"
             label="启动服务器(&amp;E)"
             menubarPath="org.eclipse.ui.run/slot2"
             retarget="true"
             style="push">
       </action>
       <action
             icon="icons/action/modify.gif"
             id="com.kingdee.bos.bim.actions.metadateUpdate"
             label="升级元数据(&amp;A)"
             menubarPath="bos.menu.solution/slot4"
             retarget="true"
             style="push"
             toolbarPath="org.eclipse.ui.workbench.file/build.group">
       </action>
       <action
             icon="icons/action/editField.gif"
             id="com.kingdee.bos.bim.actions.industryMDMerge"
             label="升级元数据片段(&amp;G)"
             menubarPath="bos.menu.solution/slot4"
             retarget="true"
             style="push">
       </action>
       <menu
             id="com.kingdee.bos.menu.tools"
             label="工具(&amp;T)"
             path="edit">
          <separator
                name="slot1">
          </separator>
          <separator
                name="slot2">
          </separator>
          <separator
                name="slot3">
          </separator>
          <separator
                name="slot4">
          </separator>
          <separator
                name="slot5">
          </separator>
          <separator
                name="slot6">
          </separator>
          <separator
                name="import">
          </separator>
          <separator
                name="export">
          </separator>
          <separator
                name="update">
          </separator>
       </menu>
       <action
             icon="icons/action/view_meta.gif"
             id="com.kingdee.bos.bim.actions.showMetadata"
             label="查看关联元数据(&amp;F)"
             menubarPath="com.kingdee.bos.menu.tools/slot1"
             retarget="true"
             style="push"
             toolbarPath="org.eclipse.ui.workbench.file/build.group">
       </action>
       <action
             icon="icons/action/vertify.gif"
             id="com.kingdee.bos.bim.actions.verifyBizUnit"
             label="校验业务单元(&amp;V)"
             menubarPath="com.kingdee.bos.menu.tools/slot2"
             retarget="true"
             style="push">
       </action>
       <action
             definitionId="com.kingdee.bos.bim.commands.deploy"
             icon="icons/deploy.gif"
             id="com.kingdee.bos.bim.actions.deployBizUnit"
             label="发布业务单元(&amp;P)"
             menubarPath="com.kingdee.bos.menu.tools/slot2"
             retarget="true"
             style="push"
             toolbarPath="org.eclipse.ui.workbench.file/build.group">
       </action>
       <action
             icon="icons/action/deploy_metadata.gif"
             id="com.kingdee.bos.bim.actions.deployMetadata"
             label="发布元数据(&amp;M)"
             menubarPath="com.kingdee.bos.menu.tools/slot3"
             retarget="true"
             style="push">
       </action>
       <action
             icon="icons/action/deploy_all.gif"
             id="com.kingdee.bos.bim.actions.deployAll"
             label="发布自定义元数据(&amp;C)"
             menubarPath="com.kingdee.bos.menu.tools/slot3"
             retarget="true"
             style="push">
       </action>
       <action
             id="com.kingdee.bos.bim.actions.configBizUnit"
             label="配置业务单元"
             menubarPath="com.kingdee.bos.menu.tools/slot3"
             retarget="true"
             style="push">
       </action>
       <action
             icon="icons/action/update_db.gif"
             id="com.kingdee.bos.bim.actions.updateDatabase"
             label="更新数据库(&amp;A)"
             menubarPath="com.kingdee.bos.menu.tools/slot4"
             retarget="true"
             style="push">
       </action>
       <action
             icon="icons/action/refresh.gif"
             id="com.kingdee.bos.bim.actions.resetLasetDeploy"
             label="恢复上次发布元数据(&amp;R)"
             menubarPath="com.kingdee.bos.menu.tools/slot4"
             retarget="true"
             style="push">
       </action>
       <action
             icon="icons/startServer.gif"
             id="com.kingdee.bos.bim.actions.generateMdbView"
             label="生成子系统树(&amp;T)"
             menubarPath="com.kingdee.bos.menu.tools/slot5"
             retarget="true"
             style="push"
             toolbarPath="org.eclipse.ui.workbench.file/build.group">
       </action>
       <action
             icon="icons/action/tree_explorer.gif"
             id="com.kingdee.bos.bim.actions.updateSubSystem"
             label="从包更新子系统树(&amp;K)"
             menubarPath="com.kingdee.bos.menu.tools/slot5"
             retarget="true"
             style="push">
       </action>
       <action
             icon="icons/action/build_patch.gif"
             id="com.kingdee.bos.bim.actions.buildPatch"
             label="构建补丁(&amp;B)"
             menubarPath="com.kingdee.bos.menu.tools/slot6"
             retarget="true"
             style="push">
       </action>
       <action
             id="com.kingdee.bos.bim.actions.mergeLib"
             label="合并LIB(&amp;J)"
             menubarPath="com.kingdee.bos.menu.tools/slot6"
             retarget="true"
             style="push">
       </action>
       <action
             icon="icons/publish.gif"
             id="com.kingdee.bos.bim.actions.publishBIM"
             label="部署(&amp;D)"
             menubarPath="com.kingdee.bos.menu.tools/slot6"
             retarget="true"
             style="push"
             toolbarPath="org.eclipse.ui.workbench.file/build.group">
       </action>
       <action
             class="com.kingdee.bos.bim.actions.tool.SetWorkspaceActionDelegate"
             icon="icons/action/setting_cbos.gif"
             id="com.kingdee.bos.bim.actions.setWorkspace"
             label="配置工具选项(&amp;G)"
             menubarPath="com.kingdee.bos.menu.tools/update"
             retarget="false"
             style="push">
       </action>
       <action
             class="com.kingdee.bos.bim.actions.tool.UpdateToolActionDelegate"
             id="com.kingdee.bos.bim.actions.updateTool"
             label="从云平台更新BOS工具(&amp;U)"
             menubarPath="com.kingdee.bos.menu.tools/update"
             retarget="false"
             style="push">
       </action>
       <menu
             id="com.kingdee.bos.menu.tools.import"
             label="导入(&amp;I)"
             path="com.kingdee.bos.menu.tools/import">
          <separator
                name="slot1">
          </separator>
       </menu>
       <action
             icon="icons/action/import_bizunit.gif"
             id="com.kingdee.bos.bim.actions.importBizUnitZip"
             label="引入业务单元(&amp;M)"
             menubarPath="com.kingdee.bos.menu.tools/com.kingdee.bos.menu.tools.import/slot1"
             retarget="true"
             style="push">
       </action>
       <menu
             id="com.kingdee.bos.menu.tools.export"
             label="导出(&amp;E)"
             path="com.kingdee.bos.menu.tools/import">
          <separator
                name="slot1">
          </separator>
          <separator
                name="slot2">
          </separator>
       </menu>
       <action
             icon="icons/action/export_bizunit.gif"
             id="com.kingdee.bos.bim.actions.exportBizUnitZip"
             label="引出业务单元(&amp;M)"
             menubarPath="com.kingdee.bos.menu.tools/com.kingdee.bos.menu.tools.export/slot1"
             retarget="true"
             style="push">
       </action>
       <action
             icon="icons/action/export_entity.gif"
             id="com.kingdee.bos.bim.actions.exportEntity"
             label="导出实体"
             menubarPath="com.kingdee.bos.menu.tools/com.kingdee.bos.menu.tools.export/slot2"
             retarget="true"
             style="push">
       </action>
       <action
             icon="icons/action/export_event.gif"
             id="com.kingdee.bos.bim.actions.exportEvent"
             label="导出通用事件"
             menubarPath="com.kingdee.bos.menu.tools/com.kingdee.bos.menu.tools.export/slot2"
             retarget="true"
             style="push">
       </action>
       <menu
             id="com.kingdee.bos.bim.bizUnit"
             label="业务单元"
             path="bizunit">
       </menu>
       <action
             icon="icons/action/setAcct.gif"
             id="com.kingdee.bos.bim.actions.SetAcctItemBizUnitAction"
             label="%sheZhiHeSuanXiangMu"
             menubarPath="edit/edit_additions"
             retarget="true"
             style="push">
       </action>
       <action
             icon="icons/action/deSetAcct.gif"
             id="com.kingdee.bos.bim.actions.CancelAcctItemBizUnitAction"
             label="%quXiaoHeSuanXiangMu"
             menubarPath="edit/edit_additions"
             retarget="true"
             style="push">
       </action>
       <menu
             id="org.eclipse.ui.run"
             label="运行(&amp;R)"
             path="edit">
          <separator
                name="slot1">
          </separator>
          <separator
                name="slot2">
          </separator>
          <separator
                name="slot3">
          </separator>
          <separator
                name="slot4">
          </separator>
       </menu>
       <action
             icon="icons/shutdownServer.gif"
             id="com.kingdee.bos.bim.actions.shutdownTestServer"
             label="停止测试(&amp;S)"
             menubarPath="org.eclipse.ui.run/slot1"
             retarget="true"
             style="push"
             toolbarPath="org.eclipse.debug.ui.launchActionSet/debug">
       </action>
       <action
             definitionId="com.kingdee.bos.bim.commands.startclient"
             icon="icons/debug.gif"
             id="com.kingdee.bos.bim.actions.startTestShortCut"
             label="启动测试(&amp;Q)"
             menubarPath="org.eclipse.ui.run/slot1"
             retarget="true"
             style="push"
             toolbarPath="org.eclipse.debug.ui.launchActionSet/debug">
       </action>
       <action
             definitionId="com.kingdee.bos.bim.startclient"
             icon="icons/startClient.gif"
             id="com.kingdee.bos.bim.actions.startTestClient"
             label="启动客户端(&amp;C)"
             menubarPath="org.eclipse.ui.run/slot2"
             retarget="true"
             style="push"
             toolbarPath="org.eclipse.debug.ui.launchActionSet/debug">
       </action>
       <action
             icon="icons/test_ui.gif"
             id="com.kingdee.bos.bim.actions.verifyTest"
             label="界面测试(&amp;M)"
             menubarPath="org.eclipse.ui.run/slot3"
             retarget="true"
             style="push">
       </action>
       <action
             icon="icons/view/rule.gif"
             id="com.kingdee.bos.bim.actions.codingruleTest"
             label="编码规则测试(&amp;O)"
             menubarPath="org.eclipse.ui.run/slot3"
             retarget="true"
             style="push">
       </action>
       <action
             icon="icons/debug.gif"
             id="com.kingdee.bos.bim.actions.botpTest"
             label="单据转换测试(&amp;B)"
             menubarPath="org.eclipse.ui.run/slot3"
             retarget="true"
             style="push">
       </action>
       <action
             icon="icons/action/webuitest.gif"
             id="com.kingdee.bos.bim.actions.webuiTest"
             label="启动WEB页面测试"
             menubarPath="org.eclipse.ui.run/slot4"
             retarget="true"
             style="push">
       </action>
       <action
             icon="icons/action/webuitest.gif"
             id="com.kingdee.bos.bim.actions.webFrameworkTest"
             label="启动WEB主菜单测试"
             menubarPath="org.eclipse.ui.run/slot4"
             retarget="true"
             style="push">
       </action>
       <action
             icon="icons/startServer.gif"
             id="com.kingdee.bos.bim.actions.restartWeb"
             label="重启MyWeb应用"
             menubarPath="org.eclipse.ui.run/slot4"
             retarget="true"
             style="push">
       </action>
       
       <menu
             id="bos.menu.cloud"
             label="cBOS方案(&amp;C)"
             path="file">
          <separator
                name="slot1">
          </separator>
          <separator
                name="slot2">
          </separator>
          <separator
                name="slot3">
          </separator>
       </menu>
       <action
             class="com.kingdee.bos.bim.actions.cloud.BrowseCloudServerActionDelegate"
             icon="icons/action/home.gif"
             id="com.kingdee.bos.bim.actions.browseCloudServer"
             label="访问cBOS网站"
             menubarPath="bos.menu.cloud/slot1"
             retarget="false"
             style="push">
       </action>
       <action
             icon="icons/action/unlock.gif"
             id="com.kingdee.bos.bim.actions.checkInMetadata"
             label="取消锁定"
             menubarPath="bos.menu.cloud/slot2"
             retarget="true"
             style="push">
       </action>
       <action
             icon="icons/action/visit_app.gif"
             id="com.kingdee.bos.bim.actions.accessApp"
             label="访问应用"
             menubarPath="bos.menu.cloud/slot2"
             retarget="true"
             style="push">
       </action>
       <action
             class="com.kingdee.bos.bim.actions.solution.OpenCloudSolutionActionDelegate"
             icon="icons/action/open_cbos.gif"
             id="com.kingdee.bos.bim.actions.openCloudSolution"
             label="打开cBOS方案"
             menubarPath="bos.menu.cloud/slot2"
             retarget="false"
             style="push">
       </action>
       <action
             icon="icons/action/user.gif"
             id="com.kingdee.bos.bim.actions.setCloudSolution"
             label="设置登录信息"
             menubarPath="bos.menu.cloud/slot1"
             retarget="true"
             style="push"
             toolbarPath="org.eclipse.ui.workbench.file/build.group">
       </action>
       <action
             icon="icons/action/edit_wf.gif"
             id="com.kingdee.bos.bim.actions.editWorkflow"
             label="配置流程"
             menubarPath="bos.menu.cloud/slot3"
             retarget="true"
             style="push">
       </action>
       <action
             icon="icons/action/report.gif"
             id="com.kingdee.bos.bim.actions.editReport"
             label="开发报表"
             menubarPath="bos.menu.cloud/slot3"
             retarget="true"
             style="push">
       </action>
    </actionSet>
  
	</extension>
	<extension point="org.eclipse.ui.actionSetPartAssociations">
		<actionSetPartAssociation targetID="com.kingdee.bos.bim.BIMActions">
			<part id="com.kingdee.bos.bim.views.BIMExplorerPart"/>
    		<part id="com.kingdee.bos.bim.designer.BIMMultiPageEditor"/>
		</actionSetPartAssociation>
	</extension>   
	<extension point="org.eclipse.ant.core.extraClasspathEntries">
		<extraClasspathEntry library="bimant.jar"/>
	</extension>
	<extension  point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
			id="com.kingdee.bos.bim.launch.EASProgramme"
			category="com.kingdee.bos.bim.launchCategory"
			delegate="com.kingdee.bos.bim.launch.EASProgrammeConfigurationDelegate"
			modes="run,debug"
			name="%EASCeShiChengXu">
		</launchConfigurationType>
	</extension>
	<extension point="org.eclipse.debug.ui.launchGroups">
	  <launchGroup
	     id="com.kingdee.bos.bim.launchDebugGroup"
	     mode="debug"
	     label="%EASCeShiORTiaoShi"
	     image="icons\startClient.gif"
	     category="com.kingdee.bos.bim.launchCategory"
	     bannerImage="icons\startClient.gif">
	  </launchGroup>
	  <launchGroup
	     id="com.kingdee.bos.bim.launchRunGroup"
	     mode="run"
	     label="%EASCeShiORYunXing"
	     image="icons\startClient.gif"
	     category="com.kingdee.bos.bim.launchCategory"
	     bannerImage="icons\startClient.gif">
	  </launchGroup>
 </extension>
	<extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/startClient.gif"
            configTypeID="com.kingdee.bos.bim.launch.EASProgramme"
            id="com.kingdee.bos.bim.launch.EASProgrammeImage">
      </launchConfigurationTypeImage>
   </extension>
	<extension  point="org.eclipse.debug.ui.launchConfigurationTabGroups">
       <launchConfigurationTabGroup
       		id="com.kingdee.bos.bim.launch.EASProgrammeTabGroup"
		    type="com.kingdee.bos.bim.launch.EASProgramme"
      		class="com.kingdee.bos.bim.launch.EASProgrammeConfigurationTabGroup">
		</launchConfigurationTabGroup>
	</extension>
	<extension id="bimnature" name="BIM Nature" point="org.eclipse.core.resources.natures">
       <runtime>
           <run class="com.kingdee.bos.bim.project.BIMProject"/>
       </runtime>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            class="com.kingdee.bos.bim.project.setting.DeploySettingPage"
            name="%jieJueFangAnCeShiSheZhi"
            id="com.kingdee.bos.bim.TestSetting">
         <filter
               value="com.kingdee.bos.bim.bimnature"
               name="nature"/>
      </page>
 </extension>
 -->
 
   <extension point="org.eclipse.ui.intro">
      <intro  class="org.eclipse.ui.intro.config.CustomizableIntroPart"
              id="com.kingdee.bos.bim.intro"
              icon="icons/intro.gif">
      </intro>
      <introProductBinding
            introId="com.kingdee.bos.bim.intro"
            productId="com.kingdee.bos.rcs.product">
      </introProductBinding>
   </extension>
   
   <extension  id="intro"  point="org.eclipse.ui.intro.config">
      <config  introId="com.kingdee.bos.bim.intro"
               id="org.eclipse.platform.introConfig"
               content="$nl$/introContent.xml">
         <presentation home-page-id="root" standby-page-id="standby">
            <implementation
                  ws="win32"
                  style="css/shared.css"
                  kind="html"
                  os="win32">
            </implementation>
            <implementation
                  kind="swt">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
         <classpathContainerInitializer
            class="com.kingdee.bos.bim.jdt.EASClasspathContainerInitializer"
            id="com.kingdee.bos.bim.EAS_CLASSPATH">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="com.kingdee.bos.tool.toolcommon.connection">
      <group
            class="com.kingdee.bos.bim.project.remote.UpdaterConnection"
            name="%yuanChengGengXinFuWuQiLianJie"
            id="UpdaterConnection">
         <property
               type="string"
               name="%fuWuQi"
               id="host"/>
         <property
               type="int"
               name="%duanKou"
               id="port"/>
         <property
               type="string"
               name="%yongHuMing"
               id="user"/>
         <property
               type="string"
               name="%miMa"
               id="password"/>
      </group>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
   	  <page
            name="%yeWuGuanLiPingTai"
            category="com.kingdee.bos.studio.preferences.MainPreferencePage"
            class="com.kingdee.bos.bim.preferences.BIMPreferencePage"
            id="com.kingdee.bos.bim.preferences.BIMPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.kingde.bos.bim.category"
            id="com.kingdee.bos.bim.zoomstardard"
            name="standardzoomaction"/>
      <category
            description="category"
            id="com.kingde.bos.bim.category"
            name="zoomcategory"/>
      <command
            description="发布业务单元"
            id="com.kingdee.bos.bim.commands.deploy"
            name="发布业务单元">
      </command>
      <command
            id="com.kingdee.bos.bim.commands.startclient"
            name="启动测试">
      </command>
      <command
            description="刷新"
            id="com.kingdee.bos.bim.commands.refresh"
            name="refresh">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.kingdee.bos.bim.zoomstardard"
            contextId="org.eclipse.ui.globalScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+0"/>
      <key
            commandId="com.kingdee.bos.bim.commands.deploy"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+P">
      </key>
      <key
            commandId="com.kingdee.bos.bim.commands.startclient"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+F9">
      </key>
      <key
            commandId="com.kingdee.bos.bim.commands.refresh"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+F5">
      </key>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            class="com.kingdee.bos.bim.jdt.EASClasspathContainerPage"
            id="com.kingdee.bos.bim.EAS_CLASSPATH"
            name="%BIMleiKu"/>
   </extension>
   <extension
         point="org.eclipse.jdt.launching.classpathProviders">
      <classpathProvider
            class="com.kingdee.bos.bim.launch.BimSourcePathProvider"
            id="com.kingdee.eas.bos.bim.bimsourcepathProvider"/>
   </extension>
   <extension
         point="org.eclipse.jdt.launching.runtimeClasspathEntryResolvers">
      <runtimeClasspathEntryResolver
            class="com.kingdee.bos.bim.jdt.EASClasspathResolver"
            container="com.kingdee.bos.bim.EAS_CLASSPATH"
            id="com.king.bim.EasclasspathResolver"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="com.kingdee.bos.bim.jdt.EasSourcePathComputer"
            id="com.kingdee.eas.bim.SourcePathComputer"/>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.kingdee.bos.bim.consoleviewAction"
            targetID="org.eclipse.ui.console.ConsoleView">
         <action
               class="com.kingdee.bos.bim.actions.view.OpenLogViewActionDelegate"
               icon="icons/open_solution.gif"
               id="com.kingdee.bos.bim.consoleviewAction"
               label="%daiKaiRiZhi"
               style="push"
               toolbarPath="additions"
               tooltip="%daiKaiRiZhi"/>
         <action
               class="com.kingdee.bos.bim.actions.view.OpenClassLogActionDelegate"
               icon="icons/openclasslog.gif"
               id="com.kingdee.bos.bim.actions.OpenClassLogActionDelegate"
               label="查看ANT日志"
               style="push"
               toolbarPath="additions"
               tooltip="查看ANT日志"/>
      </viewContribution>
      <viewContribution
            id="com.kingdee.bos.bim.propertyviewAction"
            targetID="org.eclipse.ui.views.PropertySheet">
         <action
               class="com.kingdee.bos.bim.actions.file.OpenExplorerActionDelegate"
               icon="icons/openclasslog.gif"
               id="com.kingdee.bos.bim.actions.OpenExplorerActionDelegate"
               label="%dakaimulu"
               style="push"
               toolbarPath="additions"
               tooltip="%dakaimulu"/>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <group
            id="Bim.group1"
            separatorsVisible="true">
         <location
               mnemonic="S">
         </location>
      </group>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?before=window">
         <dynamic
               class="com.kingdee.bos.bim.actions.ContributionItem"
               id="bim.dynamic.cloud">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.kingdee.bos.md.multipageeditor.MDFileEditorInputFactory"
            id="com.kingdee.bos.md.multipageeditor.MDFileEditorInputFactory">
      </factory>
   </extension>
</plugin>
