<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="metaDataVerify" name="MetaData Verify" schema="schema/verify.exsd"/>
   <extension-point id="connection" name="Connection Manager" schema="schema/connection.exsd"/>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            class="com.kingdee.bos.tool.properties.solution.SolutionBaseInfoPropertyPage"
            name="%solution.baseinfo"
            id="com.kingdee.bos.solution.BaseInfo">
         <filter
               value="com.kingdee.bos.tool.toolcommon.SolutionNature"
               name="nature"/>
      </page>
      <page
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            class="com.kingdee.bos.tool.properties.solution.MutilLangInfoPropertyPage"
            name="%solution.multilanguage"
            id="com.kingdee.bos.solution.MultiLangInfo">
         <filter
               value="com.kingdee.bos.tool.toolcommon.SolutionNature"
               name="nature"/>
      </page>
      <page
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            class="com.kingdee.bos.tool.properties.solution.DeployOptionsInfoDialogPage"
            name="%solution.deployinfo"
            id="com.kingdee.bos.solution.DeployOptionInfo">
         <filter
               value="com.kingdee.bos.tool.toolcommon.SolutionNature"
               name="nature"/>
      </page>
      
      <page
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFolder"
            class="com.kingdee.bos.tool.properties.packages.PackageInfoPropertyPage"
            name="%package.info"
            id="com.kingdee.bos.tool.properties.packages.PackageInfoPropertyPage">
         
      </page>

   </extension>
   <extension
         id="SolutionNature"
         name="BOS Development"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.kingdee.bos.tool.solution.SolutionProject">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%bosbaseview"
            id="BOSBasicView">
      </category>
      <view
            class="com.kingdee.bos.tool.console.Console"
            icon="icons/view.gif"
            category="BOSBasicView"
            name="%console.name"
            id="com.kingdee.bos.tool.console.Console"/>
      <view
            class="com.kingdee.bos.tool.views.ConnectionManagerView"
            icon="icons/view.gif"
            name="%connectionManager.name"
            category="BOSBasicView"
            id="com.kingdee.bos.tool.views.ConnectionManagerView"/>
      <view
            category="BOSBasicView"
            class="com.kingdee.bos.tool.views.verify.VerifyMessageView"
            icon="icons/view.gif"
            id="com.kingdee.bos.tool.views.VerifyMessageView"
            name="%verify.name"/> 
   </extension>
   <extension
         point="com.kingdee.bos.tool.toolcommon.connection">
      <group
            class="com.kingdee.bos.tool.connection.DBConnection"
            name="%database.link"
            id="DBConnection">
         <property
               type="com.microsoft.jdbc.sqlserver.SQLServerDriver,oracle.jdbc.driver.OracleDriver,COM.ibm.db2.jdbc.net.DB2Driver"
               name="%database.driver"
               id="jdbcdrivertype"/>
         <property
               type="string"
               name="%database.server"
               id="host"/>
         <property
               type="int"
               name="%database.port"
               id="port"/>
         <property
               type="string"
               name="%database.name"
               id="dbname"/>
         <property
               type="string"
               name="%database.username"
               id="user"/>
         <property
               type="string"
               name="%database.password"
               id="password"/>
      </group>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
         <factory
            class="com.kingdee.bos.tool.connection.ConnectionAdapterFactory" 
            adaptableType="com.kingdee.bos.tool.connection.IConnection">
            <adapter type="org.eclipse.ui.views.properties.IPropertySource"/>            
         </factory>
         <factory
               adaptableType="org.eclipse.core.resources.IResource"
               class="com.kingdee.bos.tool.openexplorer.OpenExplorerAdapterFactory">
            <adapter type="com.kingdee.bos.tool.openexplorer.OpenableSource"/>
         </factory>
         <factory
               adaptableType="com.kingdee.bos.md.mdfs.IMDObject"
               class="com.kingdee.bos.tool.openexplorer.OpenExplorerAdapterFactory">
            <adapter type="com.kingdee.bos.tool.openexplorer.OpenableSource"/>
         </factory>  
         <factory
               adaptableType="com.kingdee.bos.md.mdfs.IMDObject"
               class="com.kingdee.bos.md.adapter.MDObjectAdapterFactory">
            <adapter type="org.eclipse.core.resources.IResource"/>
         </factory> 
         <factory
               adaptableType="com.kingdee.bos.md.mdfs.IMDObject"
               class="com.kingdee.bos.md.adapter.MDObjectAdapterFactory">
            <adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
         </factory> 
         <factory
               adaptableType="com.kingdee.bos.md.mdfs.MDObjectAdapter"
               class="com.kingdee.bos.md.adapter.MDObjectAdapterFactory">
            <adapter type="org.eclipse.core.resources.IResource"/>
         </factory> 
         <factory
               adaptableType="com.kingdee.bos.md.mdfs.MDObjectAdapter"
               class="com.kingdee.bos.tool.openexplorer.OpenExplorerAdapterFactory">
            <adapter type="com.kingdee.bos.tool.openexplorer.OpenableSource"/>
         </factory>  
         <factory
               adaptableType="com.kingdee.bos.md.mdfs.MDObjectAdapter"
               class="com.kingdee.bos.md.adapter.MDObjectAdapterFactory">
            <adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
         </factory> 
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
         <factory
            class="com.kingdee.bos.tool.connection.ConnectionAdapterFactory" 
            adaptableType="com.kingdee.bos.tool.connection.IConnection">
            <adapter type="org.eclipse.ui.views.properties.IPropertySource"/>            
         </factory>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.kingdee.bos.studio.preferences.MainPreferencePage"
            class="com.kingdee.bos.tool.preferences.hotdeploy.HotDeployPreferencePage"
            id="com.kingdee.bos.tool.hotdeploy"
            name="%hotdeploy"/>
      <page
            category="com.kingdee.bos.studio.preferences.MainPreferencePage"
            class="com.kingdee.bos.tool.preferences.settc.SetTCWhenSavePreferencePage"
            id="com.kingdee.bos.tool.settc"
            name="%setTcWhenSave"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.kingdee.bos.tool.openexplorer.contribution"
            objectClass="com.kingdee.bos.tool.openexplorer.OpenableSource">
         <action
               class="com.kingdee.bos.tool.actions.OpenExploreAction"
               enablesFor="1"
               icon="icons/easyexplore.gif"
               id="com.kingdee.bos.tool.actions.OpenExploreAction"
               label="打开资源目录"
               menubarPath="group.open"
               >
         </action>
      </objectContribution>
   </extension>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="mic.tools.ajustJava418N"
            objectClass="org.eclipse.jdt.core.IJavaElement">
         <action
               class="com.kingdee.bos.tool.actions.StringExtrAction"
               enablesFor="1"
               id="com.kingdee.bos.tool.actions.StringExtrAction"
               label="字符串提取"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="mic.tools.ajustJava418N2"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="com.kingdee.bos.tool.actions.StringExtrAction"
               id="mic.tools.actions.ajustJava418N2"
               label="字符串提取"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
    <extension point="org.eclipse.ui.commands">
      <command
            description="搜索业务单元"
            id="com.kingdee.bos.tool.commands.searchBiz"
            name="searchBiz">
      </command>
      <command
            description="搜索元数据"
            id="com.kingdee.bos.tool.commands.searchMD"
            name="searchMD">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.kingdee.bos.tool.commands.searchBiz"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+Z">
      </key>
      <key
            commandId="com.kingdee.bos.tool.commands.searchMD"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+F">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.kingdee.tool.toolactionset"
            label="ToolActions"
            visible="true">
         <menu
               id="org.eclipse.search.menu"
               label="搜索"
               path="navigate">
         </menu>
         <action
               class="com.kingdee.bos.md.actions.search.SearchMDActionDelegate"
               definitionId="com.kingdee.bos.tool.commands.searchMD"
               icon="icons/actions/search.gif"
               id="com.kingdee.bos.tool.actions.searchMetadata"
               label="搜索元数据"
               menubarPath="org.eclipse.search.menu/internalDialogGroup"
               retarget="false"
               style="push">
         </action>
          <action
             class="com.kingdee.bos.md.actions.search.SearchBizActionDelegate"
             definitionId="com.kingdee.bos.tool.commands.searchBiz"
             icon="icons/actions/search_biz.gif"
             id="com.kingdee.bos.tool.actions.searchBizUnit"
             label="搜索业务单元"
             menubarPath="org.eclipse.search.menu/internalDialogGroup"
             retarget="false"
             style="push">
       </action>
      </actionSet>
   </extension>
</plugin>
