<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>


<!-- ============================================================================= -->
<!-- Define primary TOC                                                            -->
<!-- ============================================================================= -->
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
<!-- ============================================================================= -->
<!-- Define TOCs                                                                   -->
<!-- ============================================================================= -->
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="topics_Guide.xml">
      </toc>
      <toc
            file="topics_Tasks.xml">
      </toc>
      <toc
            file="topics_UI.xml">
      </toc>
      <toc
            file="topics_newfunction.xml">
      </toc>
      <toc
            file="topics_Faq.xml">
      </toc>      
   </extension>
   
   <extension point="org.eclipse.help.contexts">
      <contexts file="studio_context_help.xml"
                plugin="com.kingdee.bos.studio.context"/>      
   </extension>

</plugin>
