<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="com.kingdee.bos.tool.adapters"
         point="org.eclipse.core.runtime.adapters">
      <factory
            class="com.kingdee.bos.tool.jobs.deferredjobs.DeferredWorkbenchAdapterFactory"
            adaptableType="com.kingdee.bos.tool.jobs.deferredjobs.ITreeNodeElement">
            <adapter type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter"/>
      </factory>
   </extension>
</plugin>
