<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.kingdee.bos.workflow.designer.WebBillSelector">
      <selector
            class="com.kingdee.eas.base.form.FormURLSelector"
            id="FormURLSelector"
            name="动态单据选择">
      </selector>
   </extension>
   <extension
         point="com.kingdee.bos.workflow.designer.WebBillUiStatusSelector">
      <selector
            class="com.kingdee.eas.base.form.FormUIStateSelector"
            id="FormUIStateSelector"
            name="动态单据状态选择">
      </selector>
   </extension>

</plugin>
