<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin name="%pluginName" id="com.kingdee.bos.ctrl" version="5.4" provider-name="%providerName">
	<runtime>
		<library name="ctrl-analysis.jar">
			<export name="*"/>
		</library>
		<library name="ctrl-common.jar">
			<export name="*"/>
		</library>
		<library name="ctrl-commonui.jar">
			<export name="*"/>
		</library>
		<library name="ctrl-data.jar">
			<export name="*"/>
		</library>
		<library name="ctrl-data-wizard.jar">
			<export name="*"/>
		</library>
		<library name="ctrl-extendcontrols.jar">
			<export name="*"/>
		</library>
		<library name="ctrl-formdesigner.jar">
			<export name="*"/>
		</library>
		<library name="ctrl-kdf.jar">
			<export name="*"/>
		</library>
		<library name="ctrl-kdform.jar">
			<export name="*"/>
		</library>
		<library name="ctrl-kdspread.jar">
			<export name="*"/>
		</library>
		<library name="ctrl-kdtable.jar">
			<export name="*"/>
		</library>
		<library name="ctrl-kingdeelfm.jar">
			<export name="*"/>
		</library>
		<library name="ctrl-olap.jar">
			<export name="*"/>
		</library>
		<library name="ctrl-print.jar">
			<export name="*"/>
		</library>
		<library name="ctrl-report.jar">
			<export name="*"/>
		</library>
		<library name="ctrl-spreadapplication.jar">
			<export name="*"/>
		</library>
		<library name="ctrl-swing.jar">
			<export name="*"/>
		</library>
		<library name="ctrl-chart.jar">
			<export name="*"/>
		</library>
		<library name="avalon-framework-4.1.5.jar">
			<export name="*"/>
		</library>
		<library name="javacup.jar">
			<export name="*"/>
		</library>
		<library name="ctrl-note.jar">
			<export name="*"/>
		</library>
		<library name="ctrl-reportone.jar">
			<export name="*"/>
		</library>
	</runtime>
<requires>
    <import plugin="com.kingdee.bos.metadata"/>
    <import plugin="org.jdom"/>
    <import plugin="org.log4j"/>
 </requires>
</plugin>
