<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.kingdee.bos.ctrl.bi.bench.category.project"
            name="BI Bench"/>
      <wizard
            category="com.kingdee.bos.ctrl.bi.bench.category.project"
            class="com.kingdee.bos.ctrl.bi.bench.wizard.NewProjectCreationWizard"
            finalPerspective="com.kingdee.bos.ctrl.bi.bench.BIBenchPerspective"
            icon="icons/tree_reportformsopen.gif"
            id="com.kingdee.bos.ctrl.bi.bench.wizard.NewProjectCreationWizard"
            name="BI Bench Project"
            preferredPerspectives="com.kingdee.bos.ctrl.bi.bench.BIBenchPerspective"
            project="true"/>
      <wizard
            category="com.kingdee.bos.ctrl.bi.bench.category.project"
            class="com.kingdee.bos.ctrl.bi.bench.wizard.NewSubjectCreationWizard"
            icon="icons/tree_topic_open.gif"
            id="com.kingdee.bos.ctrl.bi.bench.wizard.NewSubjectCreationWizard"
            name="Subject Solution"
            project="false"/>
      <category
            id="com.kingdee.bos.ctrl.bi.bench.category.project.subject"
            name="Subject File"
            parentCategory="com.kingdee.bos.ctrl.bi.bench.category.project"/>
      <wizard
            category="com.kingdee.bos.ctrl.bi.bench.category.project/com.kingdee.bos.ctrl.bi.bench.category.project.subject"
            class="com.kingdee.bos.ctrl.bi.bench.wizard.NewDatasourceCreationWizard"
            icon="icons/tree_sqlfile.gif"
            id="com.kingdee.bos.ctrl.bi.bench.wizard.NewDatasourceCreationWizard"
            name="DataSource"
            project="false"/>
      <wizard
            category="com.kingdee.bos.ctrl.bi.bench.category.project/com.kingdee.bos.ctrl.bi.bench.category.project.subject"
            class="com.kingdee.bos.ctrl.bi.bench.wizard.NewCubeCreationWizard"
            icon="icons/tree_cube.gif"
            id="com.kingdee.bos.ctrl.bi.bench.wizard.NewCubeCreationWizard"
            name="Cube"
            project="false"/>
      <wizard
            category="com.kingdee.bos.ctrl.bi.bench.category.project/com.kingdee.bos.ctrl.bi.bench.category.project.subject"
            class="com.kingdee.bos.ctrl.bi.bench.wizard.NewReportCreationWizard"
            icon="icons/tree_reportforms.gif"
            id="com.kingdee.bos.ctrl.bi.bench.wizard.NewReportCreationWizard"
            name="Reporter"
            project="false"/>
      <wizard
            category="com.kingdee.bos.ctrl.bi.bench.category.project/com.kingdee.bos.ctrl.bi.bench.category.project.subject"
            class="com.kingdee.bos.ctrl.bi.bench.wizard.NewSubjectViewCreationWizard"
            icon="icons/tree_attribute.gif"
            id="com.kingdee.bos.ctrl.bi.bench.wizard.NewSubjectViewCreationWizard"
            name="Subject&apos;s View"
            project="false"/>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.kingdee.bos.ctrl.bi.bench.editors.SubjectViewEditor"
            contributorClass="org.eclipse.ui.part.MultiPageEditorActionBarContributor"
            default="true"
            extensions="view"
            icon="icons/tree_attribute.gif"
            id="com.kingdee.bos.ctrl.bi.bench.editors.SubjectViewEditor"
            name="Subject View Editor"/>
      <editor
            class="com.kingdee.bos.ctrl.bi.bench.editors.OlapReportEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="olaprpt"
            icon="icons/tree_reportforms.gif"
            id="com.kingdee.bos.ctrl.bi.bench.editors.OlapReportEditor"
            name="Olap Report Editor"/>
      <editor
            class="com.kingdee.bos.ctrl.bi.bench.editors.cube.CubeEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="cube"
            icon="icons/tree_cube.gif"
            id="com.kingdee.bos.ctrl.bi.bench.editors.cube.CubeEditor"
            name="Cube Editor"/>
      <editor
            class="com.kingdee.bos.ctrl.bi.bench.editors.DataSourceEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="ds"
            icon="icons/tree_sqlfile.gif"
            id="com.kingdee.bos.ctrl.bi.bench.editors.DataSourceEditor"
            name="Datasource Editor"/>
      <editor
            class="com.kingdee.bos.ctrl.bi.bench.editors.RuntimeEnvEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="env"
            icon="icons/actmark_act.gif"
            id="com.kingdee.bos.ctrl.bi.bench.editors.RuntimeEnvEditor"
            name="RuntimeEnvEditor"/>
      <editor
            class="com.kingdee.bos.ctrl.bi.bench.editors.RuntimeVarEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="var"
            icon="icons/envvar_obj.gif"
            id="com.kingdee.bos.ctrl.bi.bench.editors.RuntimeVarEditor"
            name="RuntimeVarEditor"/>
   </extension>
   <extension
         id="bibenchnature"
         name="BI Bench Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="com.kingdee.bos.ctrl.bi.bench.project.BIBenchProjectNature"/>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/tree_reportformsopen.gif"
            id="com.kingdee.bos.ctrl.bi.bench.image.project"
            natureId="com.kingdee.bos.ctrl.bi.bench.bibenchnature"/>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.kingdee.bos.ctrl.bi.bench.project.BIBenchFileDecorator"
            id="com.kingdee.bos.ctrl.bi.bench.project.BIBenchFileDecorator"
            label="BIBenchFileDecorator"
            state="true">
         <enablement>
            <objectClass name="org.eclipse.core.resources.IFile"/>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            class="com.kingdee.bos.ctrl.bi.bench.project.BIBenchFolderDecorator"
            id="com.kingdee.bos.ctrl.bi.bench.project.BIBenchFolderDecorator"
            label="BIBenchFolderDecorator"
            objectClass="org.eclipse.core.resources.IFolder"
            state="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.kingdee.bos.ctrl.bi.bench.viewContribution1"
            targetID="com.kingdee.bos.ctrl.bi.bench.views.BIBenchView">
         <action
               class="com.kingdee.bos.ctrl.bi.bench.actions.BuildWarActionDelegate"
               icon="icons/ant.gif"
               id="com.kingdee.bos.ctrl.bi.bench.actions.BuildWarActionDelegate"
               label="Build BI Solution WAR"
               menubarPath="addtions"
               style="push"
               toolbarPath="addtions"
               tooltip="Build BI Solution WAR"/>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.kingdee.bos.ctrl.bi.bench.server.BIBenchLaunchDelegate"
            id="com.kingdee.bos.ctrl.bi.bench.launchConfigurationType.jetty"
            modes="run,debug"
            name="BI Server"
            public="true"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.kingdee.bos.ctrl.bi.bench.launchConfigurationType.jetty"
            icon="icons/tree_reportformsclose.gif"
            id="com.kingdee.bos.ctrl.bi.bench.launchConfigurationTypeImage"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.kingdee.bos.ctrl.bi.bench.server.BIBenchLauchTabGroup"
            id="com.kingdee.bos.ctrl.bi.bench.launchConfigurationTabGroup.jetty"
            type="com.kingdee.bos.ctrl.bi.bench.launchConfigurationType.jetty">
         <launchMode
               description="运行模式"
               mode="run"/>
         <launchMode
               description="调试模式"
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective"/>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchGroups">
      <launchGroup
            bannerImage="icons/tree_allotpopedom.gif"
            id="com.kingdee.bos.ctrl.bi.bench.launchGroup1"
            image="icons/tree_reportformsclose.gif"
            label="BI Server"
            mode="run,debug"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.kingdee.bos.ctrl.bi.bench.server.JettyLaucherShortCut"
            id="com.kingdee.bos.ctrl.bi.bench.server.JettyLaucherShortCut"
            label="Run on BI Server"
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
                  <iterate>
                     <or>
                        <adapt type="org.eclipse.core.resources.IProject"/>
                     </or>
                  </iterate>
               </with>
            </enablement>
            <contextLabel
                  label="Run on BI Server"
                  mode="run"/>
            <contextLabel
                  label="Debug on  BI Server"
                  mode="debug"/>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathVariableInitializer">
      <classpathVariableInitializer
            class="com.kingdee.bos.ctrl.bi.bench.server.BIBenchHomeInitializer"
            variable="BIBENCH_HOME"/>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="com.kingdee.bos.ctrl.bi.bench.server.BIBenchClasspathContainerInitializer"
            id="com.kingdee.bos.ctrl.bi.bench.server.BIBENCH_CONTAINER"/>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            class="com.kingdee.bos.ctrl.bi.bench.server.BIBenchClasspathContainerPage"
            id="com.kingdee.bos.ctrl.bi.bench.server.BIBENCH_CONTAINER"
            name="BIBench Libary"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.kingdee.bos.ctrl.bi.bench.BIBenchView"
            name="BI Bench"/>
      <view
            allowMultiple="false"
            category="com.kingdee.bos.ctrl.bi.bench.BIBenchView"
            class="com.kingdee.bos.ctrl.bi.bench.views.BIBenchView"
            icon="icons/tree_reportformsopen.gif"
            id="com.kingdee.bos.ctrl.bi.bench.views.BIBenchView"
            name="BIBench Explorer"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.kingdee.bos.ctrl.bi.bench.views.BIBenchPerspectiveFactory"
            fixed="false"
            icon="icons/tree_reportformsclose.gif"
            id="com.kingdee.bos.ctrl.bi.bench.BIBenchPerspective"
            name="金蝶BOS BI报表设计开发工具"/>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.javaElementFilters">
      <filter
            class="com.kingdee.bos.ctrl.bi.bench.views.NonBIBenchEditableFilter"
            description="Non-BI Bench Editable Element"
            enabled="false"
            id="com.kingdee.bos.ctrl.bi.bench.views.NonBIBenchEditableFilter"
            name="Non-BI Bench Editable Element"
            targetId="org.eclipse.jdt.ui.PackageExplorer"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      
      <objectContribution
            adaptable="true"
            id="com.kingdee.bos.ctrl.bi.bench.contribution2"
            objectClass="org.eclipse.core.resources.IResource">
         <visibility>
            <objectState
                  name="path"
                  value="*/subjects/*">
            </objectState>
         </visibility>
         <action
               class="com.kingdee.bos.ctrl.bi.bench.popup.actions.CaptionAction"
               definitionId="5"
               enablesFor="1"
               icon="icons/tree_attribute.gif"
               id="com.kingdee.bos.ctrl.bi.bench.newAction"
               label="%bi.bench.popup.actions.CaptionAction.setCaption"
               tooltip="%bi.bench.popup.actions.CaptionAction.setCaption">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="com.kingdee.bos.ctrl.bi.bench.contribution2"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.kingdee.bos.ctrl.bi.bench.popup.actions.ImportBIReportAction"
               definitionId="2"
               enablesFor="1"
               icon="icons/import.gif"
               id="com.kingdee.bos.ctrl.bi.bench.newAction2"
               label="%bi.bench.popup.actions.ImportBIReportAction.import"
               tooltip="%bi.bench.popup.actions.ImportBIReportAction.import">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.kingdee.bos.ctrl.bi.bench.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.kingdee.bos.ctrl.bi.bench.BIActionSet"
            label="%bi.bench.BIActionSet.bitools"
            visible="false">
         <menu
               id="sampleMenu"
               label="%bi.bench.BIActionSet.bitools">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="com.kingdee.bos.ctrl.bi.bench.actions.SynchBiwebAction"
               icon="icons/deploy.gif"
               id="com.kingdee.bos.ctrl.bi.bench.actions.BIbenchAction"
               label="%bi.bench.actions.SynchBiwebAction"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="%bi.bench.actions.SynchBiwebAction">
            <enablement>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
            </enablement>
         </action>
         <action
               class="com.kingdee.bos.ctrl.bi.bench.actions.BIDeployAction"
               icon="icons/deploy.gif"
               id="com.kingdee.bos.ctrl.bi.bench.actions.BIbenchAction"
               label="%bi.bench.actions.BIDeployAction"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="%bi.bench.actions.BIDeployAction">
            <enablement>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
            </enablement>
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.kingdee.bos.ctrl.bi.bench.properties.BIBenchVersionPropertyPage"
            id="com.kingdee.bos.ctrl.bi.bench.properties.ProjectPropertyPage"
            name="BI Bench"
            objectClass="org.eclipse.core.resources.IProject">
         <filter
               name="nature"
               value="com.kingdee.bos.ctrl.bi.bench.bibenchnature">
         </filter>
         <keywordReference></keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.kingdee.bos.ctrl.bi.bench.BIBenchPerspective">
         <view
               id="com.kingdee.bos.ctrl.bi.bench.views.BIBenchView"
               minimized="false"
               relationship="stack"
               relative="com.kingdee.bos.ctrl.bi.bench.views.BIBenchView">
         </view>
         <actionSet
               id="com.kingdee.bos.ctrl.bi.bench.BIActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
  <extension
         point="org.eclipse.help.toc">
      <toc
            file="helpContents/BIBench.xml"
            primary="true">
      </toc>
      <toc
            file="helpContents/toc.xml"
            primary="true">
      </toc>
   </extension>
</plugin>
