<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%bosview"
            id="Studio View">
      </category>
      <view
            class="com.kingdee.bos.studio.views.MetaDataExplorerPart"
            icon="icons/packageview.gif"
            category="Studio View"
            name="%packageview.name"
            id="com.kingdee.bos.studio.views.MetaDataExplorerPart"/>   
      <view
            class="com.kingdee.bos.studio.views.TypeExplorerPart"
            icon="icons/typeview.gif"
            category="Studio View"
            name="%typeview.name"
            id="com.kingdee.bos.studio.views.TypeExplorerPart"/>
      <view
            class="com.kingdee.bos.studio.views.BusinessExplorerPart"
            icon="icons/applicationview.gif"
            category="Studio View"
            name="%businessview.name"
            id="com.kingdee.bos.studio.views.BusinessExplorerPart"/>

      <view
            icon="icons/pictureView.gif"
            class="com.kingdee.bos.studio.views.PictureExplorerPart"
            category="Studio View"
            name="%pictureview.name"
            id="com.kingdee.bos.studio.views.PictureExplorerPart"/>         
      <view
            name="%databindview.name"
            icon="icons/binddataview.gif"
            category="Studio View"
            class="com.kingdee.bos.uidesigner.views.BindDataView"
            id="com.kingdee.bos.uidesigner.views.BindDataView"/>
      <view
            name="%webdatabindview.name"
            icon="icons/binddataview.gif"
            category="Studio View"
            class="com.kingdee.bos.newdesigner.views.WebBindDataView"
            id="com.kingdee.bos.newdesigner.views.WebBindDataView"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            icon="icons/mainperspective.gif"
            class="com.kingdee.bos.studio.perspective.StudioPerspective"
            name="%mainperspective.name"
            id="com.kingdee.bos.studio.perspective.StudioPerspective"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">      
      <perspectiveExtension
            targetID="com.kingdee.bos.studio.perspective.StudioPerspective">
         <showInPart
               id="com.kingdee.bos.studio.views.MetaDataExplorerPart">
         </showInPart>
         <showInPart
               id="com.kingdee.bos.studio.views.TypeExplorerPart">
         </showInPart>
         <showInPart
               id="com.kingdee.bos.studio.views.BusinessExplorerPart">
         </showInPart>
         <showInPart
               id="com.kingdee.bos.studio.views.PictureExplorerPart">
         </showInPart>
<!-- add the "navigate" action set (Navigate > Open Resource...) -->
         <actionSet
               id="org.eclipse.ui.NavigateActionSet">
         </actionSet>
      </perspectiveExtension>
      <!--
      <perspectiveExtension
            targetID="com.kingdee.bos.studio.perspective.StudioPerspective">
         <showInPart
               id="com.kingdee.bos.studio.views.TypeExplorerPart">
         </showInPart>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.kingdee.bos.studio.perspective.StudioPerspective">
         <showInPart
               id="com.kingdee.bos.studio.views.BusinessExplorerPart">
         </showInPart>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.kingdee.bos.studio.perspective.StudioPerspective">
         <showInPart
               id="com.kingdee.bos.studio.views.PictureExplorerPart">
         </showInPart>
      </perspectiveExtension>
      -->
</extension>
	<extension
         point="org.eclipse.ui.editors">
<!-- UIDesigner 
-->
      <editor
            name="com.kingdee.bos.uidesigner.DesignerMultiPageEditor"
            default="true"
            icon="icons/ui.gif"
            extensions="ui"
            contributorClass="com.kingdee.bos.uidesigner.actions.DesignerActionBarContributor"
            class="com.kingdee.bos.uidesigner.DesignerMultiPageEditor"
            id="com.kingdee.bos.uidesigner.DesignerMultiPageEditor">
      </editor>
<!--
-->
<!-- Studio -->      
      <editor
            name="DataEditor"
            default="true"
            icon="icons/table.gif"
            extensions="table"
            contributorClass="com.kingdee.bos.tool.multipageeditor.ToolEditorContributor"
            class="com.kingdee.bos.studio.multipageeditor.data.DataEditor"
            id="com.kingdee.bos.studio.multipageeditor.data.DataEditor">
      </editor>
      <editor
            name="EntityEditor"
            default="true"
            icon="icons/entity.gif"
            extensions="entity"
            contributorClass="com.kingdee.bos.tool.multipageeditor.ToolEditorContributor"
            class="com.kingdee.bos.studio.multipageeditor.entity.EntityEditor"
            id="com.kingdee.bos.studio.multipageeditor.entity.EntityEditor">
      </editor>
      <editor
            name="FacadeEditor"
            default="true"
            icon="icons/facade.gif"
            extensions="facade"
            contributorClass="com.kingdee.bos.tool.multipageeditor.ToolEditorContributor"
            class="com.kingdee.bos.studio.multipageeditor.facade.FacadeEditor"
            id="com.kingdee.bos.studio.multipageeditor.facade.FacadeEditor">
      </editor>
      <editor
            name="FunctionEditor"
            default="true"
            icon="icons/function.gif"
            extensions="function"
            contributorClass="com.kingdee.bos.tool.multipageeditor.ToolEditorContributor"
            class="com.kingdee.bos.studio.multipageeditor.function.FunctionEditor"
            id="com.kingdee.bos.studio.multipageeditor.function.FunctionEditor">
      </editor>
      <editor
            name="ExceptionEditor"
            default="true"
            icon="icons/exception.gif"
            extensions="exception"
            contributorClass="com.kingdee.bos.tool.multipageeditor.ToolEditorContributor"
            class="com.kingdee.bos.studio.multipageeditor.exception.ExceptionEditor"
            id="com.kingdee.bos.studio.multipageeditor.exception.ExceptionEditor">
      </editor>
      <editor
            class="com.kingdee.bos.studio.multipageeditor.enumer.EnumEditor"
            contributorClass="com.kingdee.bos.tool.multipageeditor.ToolEditorContributor"
            default="true"
            extensions="enum"
            icon="icons/enum.gif"
            id="com.kingdee.bos.studio.multipageeditor.enumer.EnumEditor"
            name="EnumEditor">
      </editor>
      <editor
            name="RelationEditor"
            default="true"
            icon="icons/relation.gif"
            extensions="relation"
            contributorClass="com.kingdee.bos.tool.multipageeditor.ToolEditorContributor"
            class="com.kingdee.bos.studio.multipageeditor.relation.RelationEditor"
            id="com.kingdee.bos.studio.multipageeditor.relation.RelationEditor">
      </editor>
      <editor
            name="RuleEditor"
            default="true"
            icon="icons/rule.gif"
            extensions="rule"
            contributorClass="com.kingdee.bos.tool.multipageeditor.ToolEditorContributor"
            class="com.kingdee.bos.studio.multipageeditor.rule.RuleEditor"
            id="com.kingdee.bos.studio.multipageeditor.rule.RuleEditor">
      </editor>
      <editor
            name="QueryEditor"
            default="true"
            icon="icons/query.gif"
            extensions="query"
            contributorClass="com.kingdee.bos.tool.multipageeditor.ToolEditorContributor"
            class="com.kingdee.bos.studio.multipageeditor.query.QueryEditor"
            id="com.kingdee.bos.studio.multipageeditor.query.QueryEditor">
      </editor>
      <editor
            name="DiagramEditor"
            default="true"
            icon="icons/query.gif"
            extensions="diagram"
            class="com.kingdee.bos.studio.multipageeditor.diagram.ObjectRelationDiagramEditor"
            id="com.kingdee.bos.studio.multipageeditor.diagram.ObjectRelationDiagramEditor">
      </editor>
      <editor
            name="PermissionEditor"
            default="true"
            icon="icons/service/permission.gif"
            extensions="permission"
            contributorClass="com.kingdee.bos.tool.multipageeditor.ToolEditorContributor"
            class="com.kingdee.bos.studio.multipageeditor.permission.PermissionEditor"
            id="com.kingdee.bos.studio.multipageeditor.permission.PermissionEditor">
      </editor>
      <!-- LogEditor 去掉自动文件关联  extensions="log" ，
      	       原因是eclipse本身使用textEditor打开日志文件，
      	       为了是log元数据和log日志不冲突，
      	       这里就不将LogEditor自动关联.log结尾的文件-->
      <editor
            name="LogEditor"
            default="true"
            icon="icons/service/log.gif"
            contributorClass="com.kingdee.bos.tool.multipageeditor.ToolEditorContributor"
            class="com.kingdee.bos.studio.multipageeditor.log.LogEditor"
            id="com.kingdee.bos.studio.multipageeditor.log.LogEditor">
      </editor>
      <editor
            name="MutexEditor"
            default="true"
            icon="icons/service/mutex.gif"
            extensions="mutex"
            contributorClass="com.kingdee.bos.tool.multipageeditor.ToolEditorContributor"
            class="com.kingdee.bos.studio.multipageeditor.mutex.MutexEditor"
            id="com.kingdee.bos.studio.multipageeditor.mutex.MutexEditor">
      </editor>
      <editor
            name="ResourceEditor"
            default="true"
            icon="icons/service/resource.gif"
            extensions="resource"
            contributorClass="com.kingdee.bos.tool.multipageeditor.ToolEditorContributor"
            class="com.kingdee.bos.studio.multipageeditor.resource.ResourceEditor"
            id="com.kingdee.bos.studio.multipageeditor.resource.ResourceEditor">
      </editor>
      <editor
            name="ImageResourceEditor"
            default="true"
            icon="icons/service/resource.gif"
            extensions="imageresource"
            contributorClass="com.kingdee.bos.tool.multipageeditor.ToolEditorContributor"
            class="com.kingdee.bos.studio.multipageeditor.imageresource.ImageResourceEditor"
            id="com.kingdee.bos.studio.multipageeditor.imageresource.ImageResourceEditor">
      </editor>
      <editor
            name="BizDataTypeEditor"
            default="true"
            icon="icons/bizdatatype.gif"
            extensions="bizdatatype"
            contributorClass="com.kingdee.bos.tool.multipageeditor.ToolEditorContributor"
            class="com.kingdee.bos.studio.multipageeditor.template.bizdatatype.BizDataTypeEditor"
            id="com.kingdee.bos.studio.multipageeditor.template.bizdatatype.BizDataTypeEditor">
      </editor>
      <editor
            name="MDQueryEditor"
            default="true"
            icon="icons/mdquery.gif"
            extensions="mdquery"
            contributorClass="com.kingdee.bos.tool.multipageeditor.ToolEditorContributor"
            class="com.kingdee.bos.studio.multipageeditor.mdquery.MDQueryEditor"
            id="com.kingdee.bos.studio.multipageeditor.mdquery.MDQueryEditor">
      </editor>
      <editor
            class="com.kingdee.bos.newdesigner.webui.WebDesignerMultiPageEditor"
            default="true"
            extensions="webui"
            icon="icons/ui.gif"
            contributorClass="com.kingdee.bos.newdesigner.webui.WebDesignerActionBarContributor"
            id="com.kingdee.bos.newdesigner.webui.WebDesignerMultiPageEditor"
            name="com.kingdee.bos.newdesigner.webui.WebDesignerMultiPageEditor">
      </editor>
   </extension>
   <extension 
       point="org.eclipse.ui.exportWizards"> 
      <wizard 
         id="com.kingdee.bos.studio.wizard.exports.ExportEntityWizard" 
         name="%exportentitywizard.name" 
         class="com.kingdee.bos.studio.wizard.exports.ExportEntityWizard" 
         icon="icons/exportEntity.gif"> 
         <description> 
            A simple engine that exports Web project 
         </description> 
         <selection class="org.eclipse.core.resources.IResource"/> 
      </wizard> 
      <wizard 
         id="com.kingdee.bos.studio.wizard.exports.ExportTableWizard" 
         name="%exporttablewizard.name" 
         class="com.kingdee.bos.studio.wizard.exports.ExportTableWizard" 
         icon="icons/exportTable.gif"> 
         <description> 
            A simple engine that exports Web project 
         </description> 
         <selection class="org.eclipse.core.resources.IResource"/> 
      </wizard> 
   </extension>
   <extension 
       point="org.eclipse.ui.importWizards"> 
      <wizard 
         id="com.kingdee.bos.studio.wizard.imports.ImportEntityWizard" 
         name="%importentitywizard.name" 
         class="com.kingdee.bos.studio.wizard.imports.ImportEntityWizard" 
         icon="icons/importEntity.gif"> 
         <description> 
            A simple engine that searches the Web and imports files 
         </description> 
         <selection class="org.eclipse.core.resources.IResource"/> 
      </wizard> 
      <wizard 
         id="com.kingdee.bos.studio.wizard.imports.ImportTableWizard" 
         name="%importtablewizard.name" 
         class="com.kingdee.bos.studio.wizard.imports.ImportTableWizard" 
         icon="icons/importTable.gif"> 
         <description> 
            A simple engine that searches the Web and imports files 
         </description> 
         <selection class="org.eclipse.core.resources.IResource"/> 
      </wizard>
      
      
      <wizard 
         id="com.kingdee.bos.studio.wizard.db2entity.DBToEntityWizard" 
         name="%importentityformtable" 
         class="com.kingdee.bos.studio.wizard.db2entity.DBToEntityWizard" 
         icon="icons/importTable.gif"> 
         <description> 
            %importentityformtable
         </description> 
         <selection class="org.eclipse.core.resources.IResource"/> 
      </wizard>
      
      
   </extension>
	<extension
         point="org.eclipse.ui.newWizards">
      <category
            name="BOS Wizard"
            id="com.kingdee.bos.studio.wizard">
      </category>      
      <!--
      <wizard
            name="Solution"
            icon="icons/solution.gif"
            category="com.kingdee.bos.studio.wizard"
            class="com.kingdee.bos.studio.wizard.solution.NewSolutionCreationWizard"
            preferredPerspectives="com.kingdee.bos.studio.perspective.MainPerspective"
            project="true"
            finalPerspective="com.kingdee.bos.studio.perspective.MainPerspective"
            id="com.kingdee.bos.studio.wizard.solution.NewSolutionCreationWizard">
      </wizard>
      
      <wizard
            name="Package"
            icon="icons/package.gif"
            category="com.kingdee.bos.studio.wizard"
            class="com.kingdee.bos.studio.wizard.packages.NewPackageCreationWizard"
            preferredPerspectives="com.kingdee.bos.studio.perspective.MainPerspective"
            project="true"
            finalPerspective="com.kingdee.bos.studio.perspective.MainPerspective"
            id="com.kingdee.bos.studio.wizard.packages.NewPackageCreationWizard">
      </wizard>
      <wizard
            name="Application"
            icon="icons/application.gif"
            category="com.kingdee.bos.studio.wizard"
            class="com.kingdee.bos.studio.wizard.application.NewApplicationCreationWizard"
            preferredPerspectives="com.kingdee.bos.studio.perspective.MainPerspective"
            project="true"
            finalPerspective="com.kingdee.bos.studio.perspective.MainPerspective"
            id="com.kingdee.bos.studio.wizard.application.NewApplicationCreationWizard">
      </wizard>
      -->
      <wizard
            name="Exception"
            icon="icons/exception.gif"
            category="com.kingdee.bos.studio.wizard"
            class="com.kingdee.bos.studio.wizard.NewExceptionCreationWizard"
            preferredPerspectives="com.kingdee.bos.studio.perspective.MainPerspective"
            project="true"
            finalPerspective="com.kingdee.bos.studio.perspective.MainPerspective"
            id="com.kingdee.bos.studio.wizard.exception.NewExceptionCreationWizard">
      </wizard>
      <wizard
            name="Enumeration"
            icon="icons/enum.gif"
            category="com.kingdee.bos.studio.wizard"
            class="com.kingdee.bos.studio.wizard.NewEnumCreationWizard"
            preferredPerspectives="com.kingdee.bos.studio.perspective.MainPerspective"
            project="true"
            finalPerspective="com.kingdee.bos.studio.perspective.MainPerspective"
            id="com.kingdee.bos.studio.wizard.enum.NewEnumCreationWizard">
      </wizard>
      <wizard
            name="Table"
            icon="icons/table.gif"
            category="com.kingdee.bos.studio.wizard"
            class="com.kingdee.bos.studio.wizard.table.NewTableCreationWizard"
            preferredPerspectives="com.kingdee.bos.studio.perspective.MainPerspective"
            project="true"
            finalPerspective="com.kingdee.bos.studio.perspective.MainPerspective"
            id="com.kingdee.bos.studio.wizard.table.NewTableCreationWizard">
      </wizard>
      <wizard
            name="Entity"
            icon="icons/entity.gif"
            category="com.kingdee.bos.studio.wizard"
            class="com.kingdee.bos.studio.wizard.entity.NewEntityCreationWizard"
            preferredPerspectives="com.kingdee.bos.studio.perspective.MainPerspective"
            project="true"
            finalPerspective="com.kingdee.bos.studio.perspective.MainPerspective"
            id="com.kingdee.bos.studio.wizard.entity.NewEntityCreationWizard">
      </wizard>
      <wizard
            name="Relationship"
            icon="icons/relation.gif"
            category="com.kingdee.bos.studio.wizard"
            class="com.kingdee.bos.studio.wizard.NewRelationshipCreationWizard"
            preferredPerspectives="com.kingdee.bos.studio.perspective.MainPerspective"
            project="true"
            finalPerspective="com.kingdee.bos.studio.perspective.MainPerspective"
            id="com.kingdee.bos.studio.wizard.relationship.NewRelationshipCreationWizard">
      </wizard>
      <wizard
            name="Facade"
            icon="icons/facade.gif"
            category="com.kingdee.bos.studio.wizard"
            class="com.kingdee.bos.studio.wizard.facade.NewFacadeCreationWizard"
            preferredPerspectives="com.kingdee.bos.studio.perspective.MainPerspective"
            project="true"
            finalPerspective="com.kingdee.bos.studio.perspective.MainPerspective"
            id="com.kingdee.bos.studio.wizard.facade.NewFacadeCreationWizard">
      </wizard>
      <wizard
            name="Rule"
            icon="icons/rule.gif"
            category="com.kingdee.bos.studio.wizard"
            class="com.kingdee.bos.studio.wizard.NewRuleCreationWizard"
            preferredPerspectives="com.kingdee.bos.studio.perspective.MainPerspective"
            project="true"
            finalPerspective="com.kingdee.bos.studio.perspective.MainPerspective"
            id="com.kingdee.bos.studio.wizard.rule.NewRuleCreationWizard">
      </wizard>
      <wizard
            name="Query"
            icon="icons/query.gif"
            category="com.kingdee.bos.studio.wizard"
            class="com.kingdee.bos.studio.wizard.query.NewQueryCreationWizard"
            preferredPerspectives="com.kingdee.bos.studio.perspective.MainPerspective"
            project="true"
            finalPerspective="com.kingdee.bos.studio.perspective.MainPerspective"
            id="com.kingdee.bos.studio.wizard.query.NewQueryCreationWizard">
      </wizard>
      <wizard
            name="UI Object"
            icon="icons/ui.gif"
            category="com.kingdee.bos.studio.wizard"
            class="com.kingdee.bos.studio.wizard.uiobject.NewUIModelCreationWizard"
            preferredPerspectives="com.kingdee.bos.studio.perspective.MainPerspective"
            project="true"
            finalPerspective="com.kingdee.bos.studio.perspective.MainPerspective"
            id="com.kingdee.bos.studio.wizard.uiobject.NewUIModelCreationWizard">         
      </wizard>
      <wizard
            name="Function"
            icon="icons/function.gif"
            category="com.kingdee.bos.studio.wizard"
            class="com.kingdee.bos.studio.wizard.NewFunctionCreationWizard"
            preferredPerspectives="com.kingdee.bos.studio.perspective.MainPerspective"
            project="true"
            finalPerspective="com.kingdee.bos.studio.perspective.MainPerspective"
            id="com.kingdee.bos.studio.wizard.function.NewFunctionCreationWizard">
      </wizard>
      <wizard
            name="Resource"
            icon="icons/resource.gif"
            category="com.kingdee.bos.studio.wizard"
            class="com.kingdee.bos.studio.wizard.NewResourceCreationWizard"
            preferredPerspectives="com.kingdee.bos.studio.perspective.MainPerspective"
            project="true"
            finalPerspective="com.kingdee.bos.studio.perspective.MainPerspective"
            id="com.kingdee.bos.studio.wizard.resource.NewResourceCreationWizard">
      </wizard>
      <wizard
            name="ImageResource"
            icon="icons/resource.gif"
            category="com.kingdee.bos.studio.wizard"
            class="com.kingdee.bos.studio.wizard.NewImageResourceCreationWizard"
            preferredPerspectives="com.kingdee.bos.studio.perspective.MainPerspective"
            project="true"
            finalPerspective="com.kingdee.bos.studio.perspective.MainPerspective"
            id="com.kingdee.bos.studio.wizard.NewImageResourceCreationWizard">
      </wizard>
      <wizard
            name="BizDataType"
            icon="icons/bizdatatype.gif"
            category="com.kingdee.bos.studio.wizard"
            class="com.kingdee.bos.studio.wizard.NewBizTypeCreationWizard"
            preferredPerspectives="com.kingdee.bos.studio.perspective.MainPerspective"
            project="true"
            finalPerspective="com.kingdee.bos.studio.perspective.MainPerspective"
            id="com.kingdee.bos.studio.wizard.bizdatatype.NewBizTypeCreationWizard">
      </wizard>
      <wizard
            name="MDQuery"
            icon="icons/mdquery.gif"
            category="com.kingdee.bos.studio.wizard"
            class="com.kingdee.bos.studio.wizard.mdquery.NewMDQueryCreationWizard"
            preferredPerspectives="com.kingdee.bos.studio.perspective.MainPerspective"
            project="true"
            finalPerspective="com.kingdee.bos.studio.perspective.MainPerspective"
            id="com.kingdee.bos.studio.wizard.mdquery.NewMDQueryCreationWizard">
      </wizard>
      <wizard
            name="Permission"
            icon="icons/permission.gif"
            category="com.kingdee.bos.studio.wizard"
            class="com.kingdee.bos.studio.wizard.NewPermissionCreationWizard"
            preferredPerspectives="com.kingdee.bos.studio.perspective.MainPerspective"
            project="true"
            finalPerspective="com.kingdee.bos.studio.perspective.MainPerspective"
            id="com.kingdee.bos.studio.wizard.NewPermissionCreationWizard">
      </wizard>
      <wizard
            name="Update Solution"
            icon="icons/permission.gif"
            category="com.kingdee.bos.studio.wizard"
            class="com.kingdee.bos.tool.update.nature.SolutionUpdateWizard"
            preferredPerspectives="com.kingdee.bos.studio.perspective.MainPerspective"
            project="true"
            finalPerspective="com.kingdee.bos.studio.perspective.MainPerspective"
            id="com.kingdee.bos.tool.update.nature.SolutionUpdateWizard">
      </wizard>
      <wizard
            category="com.kingdee.bos.studio.wizard"
            class="com.kingdee.bos.studio.wizard.NewLogCreationWizard"
            finalPerspective="com.kingdee.bos.studio.perspective.MainPerspective"
            icon="icons/log.gif"
            id="com.kingdee.bos.studio.wizard.NewLogCreationWizard"
            name="Log"
            preferredPerspectives="com.kingdee.bos.studio.perspective.MainPerspective"
            project="true"/>
      <wizard
            category="com.kingdee.bos.studio.wizard"
            class="com.kingdee.bos.studio.wizard.webuiobject.NewWebUIModelCreationWizard"
            finalPerspective="com.kingdee.bos.studio.perspective.MainPerspective"
            id="com.kingdee.bos.studio.wizard.webuiobject.NewWebUIModelCreationWizard"
            name="WebUI Object"
            preferredPerspectives="com.kingdee.bos.studio.perspective.MainPerspective"
            project="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Studio.ActionSet"
            visible="false"
            id="com.kingdee.bos.studio.ActionSet">
         <action
               class="com.kingdee.bos.studio.actions.ClearCacheActionDelegate"
               icon="icons/clearcache.gif"
               id="com.kingdee.bos.studio.actions.ClearCacheActionDelegate"
               label="%clearcacheaction.name"
               style="push"
               toolbarPath="Normal"
               tooltip="%clearcacheaction.tooltip">
         </action>
          <action
                class="com.kingdee.bos.studio.actions.VerifyPermissionActionDelegate"
                icon="icons/check.gif"
                id="com.kingdee.bos.studio.actions.VerifyPermissionActionDelegate"
                label="%verifypermissionaction.name"
                style="push"
                toolbarPath="Normal"
                tooltip="%verifypermissionaction.tooltip">
          </action>
               
          <action
                class="com.kingdee.bos.studio.actions.ConfigWebServiceActionDelegate"
                icon="icons/edit_webservice_config.gif"
                id="com.kingdee.bos.studio.actions.ConfigWebServiceActionDelegate"
                label="%editWebServicefile"
                style="push"
                toolbarPath="Normal"
                tooltip="%editWebServicefile">
          </action>
               
          <action
                class="com.kingdee.bos.studio.actions.ConfigDeployAgentActionDelegate"
                icon="icons/config_deploy_agent.gif"
                id="com.kingdee.bos.studio.actions.ConfigDeployAgentActionDelegate"
                label="%editDeployAgentfile"
                style="push"
                toolbarPath="Normal"
                tooltip="%editDeployAgentfile">
          </action>
          <action
                class="com.kingdee.bos.studio.actions.RebaseExtActionDelegate"
                icon="icons/rebase.gif"
                id="com.kingdee.bos.studio.actions.RebaseExtActionDelegate"
                label="基线化行业解决方案"
                style="push"
                toolbarPath="Normal"
                tooltip="基线化行业解决方案"/>
      </actionSet>
   </extension>   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%mainPage"
            class="com.kingdee.bos.studio.preferences.MainPreferencePage"
            id="com.kingdee.bos.studio.preferences.MainPreferencePage">
      </page>
	<!-- Designer -->
   	  <page
            name="UI Designer"
            category="com.kingdee.bos.studio.preferences.MainPreferencePage"
            class="com.kingdee.bos.uidesigner.preferences.DesignerPreferencePage"
            id="com.kingdee.bos.uidesigner.preferences.DesignerPreferencePage">
      </page>
      <!--复制CVS路径配置-->
      <page
            category="com.kingdee.bos.studio.preferences.MainPreferencePage"
            class="com.kingdee.bos.copycvspath.preferences.CopyCVSPathPreferencePage"
            id="com.kingdee.bos.copycvspath.preferences"
            name="%fuZhiCVSLuJingPeiZhi"/>
      <page
            category="com.kingdee.bos.studio.preferences.MainPreferencePage"
            class="com.kingdee.bos.studio.preferences.unionquery.UnionQueryPreferencePage"
            id="com.kingdee.bos.studio.preferences.unionquery.UnionQueryPreferencePage"
            name="%unionquery"/>
      <page
            category="com.kingdee.bos.studio.preferences.MainPreferencePage"
            class="com.kingdee.bos.studio.preferences.exporttable.ExportTablePreferencePage"
            id="com.kingdee.bos.studio.preferences.exporttable.ExportTablePreferencePage"
            name="%daoChuShuJvBiao"/>
      <page
            category="com.kingdee.bos.studio.preferences.MainPreferencePage"
            class="com.kingdee.bos.studio.preferences.genwebui.GenWebUIPreferencePage"
            id="com.kingdee.bos.studio.preferences.genwebui.GenWebUIPreferencePage"
            name="%genwebui"/>
      <!--
      <page
            category="com.kingdee.bos.studio.preferences.MainPreferencePage"
            class="com.kingdee.bos.uidesigner.preferences.ToolBarEditPreferencePage"
            id="com.kingdee.bos.uidesigner.preferences.ToolBarEditPreferencePage"
            name="%gongJvLanBianJi"/>
       -->
   </extension>
   
   <extension
         id="com.kingdee.bos.studio.adapters"
         point="org.eclipse.core.runtime.adapters">
      <factory
            class="com.kingdee.bos.studio.multipageeditor.graphicaledit.propertyedit.GraphAdapterFactory"
            adaptableType="com.kingdee.bos.studio.multipageeditor.graphicaledit.models.PropertyAwareObject">
            <adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
      </factory>
   </extension>
   <extension
         id="com.kingdee.bos.studio.adapters"
         point="org.eclipse.core.runtime.adapters">
      <factory
            class="com.kingdee.bos.uidesigner.model.CompPropSourceAdapterFactory"
            adaptableType="com.kingdee.bos.uidesigner.model.ComponentInfoAdapter">
         <adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
         <adapter type="com.kingdee.bos.uidesigner.properties.IEventSource"/>
      </factory>
   </extension>
   <!--复制CVS路径的右键菜单-->
   <extension
         id="com.kingdee.bos.copycvspath.popmenu"
         name="%fuZhiCVSLuJing"
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.kingdee.bos.copycvspath.CopyCVSPathAction"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="com.kingdee.bos.copycvspath.actions.CopyCVSPathAction"
               id="com.kingdee.bos.copycvspath.action"
               label="%fuZhiCVSLuJing"/>
      </objectContribution>
   </extension>
   <extension
         id="com.kingdee.bos.copycvspath.popmenu1"
         name="%fuZhiCVSLuJing"
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.kingdee.bos.copycvspath.CopyCVSPathAction1"
            objectClass="org.eclipse.jdt.core.IJavaElement">
         <action
               class="com.kingdee.bos.copycvspath.actions.CopyCVSPathAction"
               id="com.kingdee.bos.copycvspath.action1"
               label="%fuZhiCVSLuJing"/>
      </objectContribution>
   </extension>
   <!--复制CVS路径的右键菜单-->

   <extension point="org.eclipse.core.runtime.contentTypes"> 
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="ui,entity,query,table,facade,function,relation,resource,enum,exception,solution,package,bizunit,ruleset,permission,log,biztemplate"
            id="BOSMetasXMLContentType"
            name="BOSMetasXMLContentType"
            priority="high"/>
   </extension>
   <extension
         id="com.kingdee.bos.studio.adapters"
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.kingdee.bos.newdesigner.model.IComponentModel"
            class="com.kingdee.bos.newdesigner.properties.ComponentModelPropertySourceAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   <extension
         id="com.kingdee.bos.studio.adapters"
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.kingdee.bos.ui.dtp.weblayout.WebLayoutData"
            class="com.kingdee.bos.newdesigner.properties.WebLayoutDataPropertySourceAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>   
   <extension
         id="com.kingdee.bos.studio.adapters"
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.kingdee.bos.ui.dtp.tablelayout.TableData"
            class="com.kingdee.bos.newdesigner.properties.TableDataPropertySourceAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   <extension
         id="com.kingdee.bos.studio.adapters"
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.kingdee.bos.ui.dtp.webborderlayout.WebBorderLayoutData"
            class="com.kingdee.bos.newdesigner.properties.WebBorderLayoutDataPropertySourceAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   <extension
         id="com.kingdee.bos.studio.adapters"
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.kingdee.bos.newdesigner.webui.model.ELValue"
            class="com.kingdee.bos.newdesigner.webui.properties.ELValuePropertySourceAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="com.kingdee.bos.newdesigner.webui.WebDesignerMultiPageEditor">
         <propertyCategory
               category="property"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.kingdee.bos.newdesigner.webui.WebDesignerMultiPageEditor">
         <propertyTab
               category="property"
               id="propertyTab"
               label="属性">
         </propertyTab>
         <propertyTab
               afterTab="propertyTab"
               category="property"
               id="eventTab"
               label="事件">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.kingdee.bos.newdesigner.webui.WebDesignerMultiPageEditor">
         <propertySection
               class="com.kingdee.bos.newdesigner.properties.UndoableAdvancedPropertySection"
               id="propertySection"
               tab="propertyTab">
            <input
                  type="org.eclipse.gef.EditPart">
            </input>
         </propertySection>
         <propertySection
               class="com.kingdee.bos.newdesigner.webui.properties.UndoableWebEventPropertySection"
               id="eventSection"
               tab="eventTab">
            <input
                  type="org.eclipse.gef.EditPart">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         id="com.kingdee.bos.studio.adapters"
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.kingdee.bos.ui.dtp.model.layout.WebLayout"
            class="com.kingdee.bos.newdesigner.properties.WebLayoutPropertySourceAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>         
   <extension
         id="com.kingdee.bos.studio.adapters"
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.kingdee.bos.ui.dtp.model.layout.TableLayout"
            class="com.kingdee.bos.newdesigner.properties.TableLayoutPropertySourceAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   <extension
         id="com.kingdee.bos.studio.adapters"
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.kingdee.bos.ui.dtp.model.layout.LabelContainerLayout"
            class="com.kingdee.bos.newdesigner.properties.LabelContainerLayoutPropertySourceAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   <extension
         id="com.kingdee.bos.studio.adapters"
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="java.awt.Rectangle"
            class="com.kingdee.bos.newdesigner.properties.XYLayoutDataPropertySourceAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   <extension
         id="com.kingdee.bos.studio.adapters"
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.kingdee.bos.ui.dtp.smartlayout.SmartLayoutData"
            class="com.kingdee.bos.newdesigner.properties.SmartLayoutDataPropertySourceAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   <extension
         id="com.kingdee.bos.studio.adapters"
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.kingdee.bos.ui.dtp.model.layout.SmartLayout"
            class="com.kingdee.bos.newdesigner.properties.SmartLayoutPropertySourceAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
</plugin>
